@media screen and (min-width:375px) {


.navbar_container{
    background-color:white;
    display: flex;
    gap: 44px;
    position: relative;
    top: 675px;
    position: fixed;

    padding: 10px;
    z-index: 0;
}

.navbar_container > a{
    color: black;
}

}