@media screen and (min-width:375px) {

body{
    position: sticky;
}
.Search_containe{
    padding-top: 10px;
    padding-bottom: 60px;
}

.Search_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


.Search_column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.Search{
    border: 1px solid #dcd5d5;
    border-radius: 5px;
    margin: 12px;
    height: 40px;
    display: flex;
    align-items: center;

}

.Search > input{
    border: none;
    outline: none;
    font-size: large;
}

}